/* CSS Modules allow you to scope CSS to a component by automatically creating unique class names
, so you don't have to worry about style collisions as well. */

/* Quiz 2 */
/* What is one benefit of using CSS modules? */
/* Provide a way to make CSS classes locally scoped to components by default
, reducing the risk of styling conflicts. */

/* CSS Modules create unique class names for each component, 
so you don't have to worry about style collisions. */

.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
